body {
    background-color: #e2e8f0;
}

* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    margin: 16px;
    background-color: #475569;
    border-radius: 12px;
    padding: 12px;
    display: grid;
    gap: 4px;
    color: #cbd5e1;
}

.header,
.about,
.book {
    border: 2px solid #0f172a;
    border-radius: 12px;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header h2 {
    grid-column-start: -2;
}

.button {
    border-radius: 12px;
    border: none;
    padding: 4px;
    width: 150px;
    background-color: #1e293b;
    color: #cbd5e1;
}

#pop-up {
    background-color: #0f172a;
    position: absolute;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; 
    width: 400px;
    height: 330px;
    padding: 16px;
    border-radius: 16px;
    color: #cbd5e1;
    display: none;
}

.book-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-content: space-between;
    padding: 16px;

    width: 350px;
    height: 280px;
}

.form-button {
    background-color: #64748b;
    border-radius: 12px;
    border: none;
    padding: 6px;
    color: #cbd5e1;
}

.input-field {
    border: none;
    border-radius: 12px;
    padding: 4px;
    background-color: #cbd5e1;
    
}